* {
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    height: 90%;
    width: 60%;
    background-color:darkslategray;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: grey;
}