* {
    margin: 0px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    height: 100vh;
    width: 100vw;
    background-color: #d0ac4e;
}

body {
    height: 100%;
    width: 50%;
    margin: auto;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    padding: 5px;
    background-color: white;
    border-left: 10px solid #d0ac4e;
}

#grid {
    display: grid;
    grid-template-columns: [L] 3fr [C] 7fr [R];
    grid-template-rows: [a] 5% [b] 15% [c] 80% [d];
}

#gridL {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: subgrid [sub-LL] [sub-LR];
    grid-template-rows: [sub-a] 25% [sub-b] 20% [sub-c] 32.5% [sub-d] 22.5% [sub-e];
}

#gridR {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: subgrid [sub-RL] [sub-RR];
    grid-template-rows: [sub-f] 60% [sub-g] 40% [sub-h];
}

#headerL {
    background-color: #eaeceb;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#headerR {
    background-color: #fefefe;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#photo {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #272928;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#name {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #272928;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#aboutme {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeceb;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#contacts {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeceb;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#skills {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeceb;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#interest {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eaeceb;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#experience {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fefefe;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#education {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fefefe;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}